{% extends 'layout.html' %}

{% block main %}
    <div class="row">
        <div class="col">
            {% if perms.coffees.add_coffee %}
                <a href="{% url 'coffees:add' %}"
                   class="btn btn-outline-info float-right">
                    新增咖啡
                </a>
            {% endif %}
            <h2>咖啡列表</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名稱</th>
                    <th>烘培程度</th>
                    <th>價格</th>
                </tr>
                </thead>
                <tbody>
                {% for coffee in coffees %}
                    <tr>
                        <td>{{ coffee.id }}</td>
                        {# 原本是 <td>{{ coffee.name }}</td> #}
                        <td>
                            <a href="{% url 'coffees:show' coffee.id %}">
                                {{ coffee.name }}
                            </a>
                        </td>
                        <td>{{ coffee.get_roast_display }}</td>
                        <td>{{ coffee.price }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center" colspan="4">沒有咖啡～</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}